/* Total body font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */

.background-color{
    background-color: rgba(229, 84, 115, 0.10);
    width: 1306px;
    height: 680px;
    flex-shrink: 0;
    position: relative;
    bottom: 3rem;
}

.background-img{
    margin-left: 600px;
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    padding: 80px;
}

.total-header-paragraph{
    position: relative;
    bottom: 30rem;
}

.header-paragraph-intro{
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    bottom: 10.5rem;
    margin: 80px;
}

.header-paragraph-details{
    position: relative;
    bottom: 12.5rem;
    margin: 80px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.header-shop-now-btn{
    position: relative;
    bottom: 21rem;
    margin: 80px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 18px;
}

.shop-now-btn-style{
    text-decoration: none;
    color: white;
}

 /* Our Featured Flowers style */

 .total-featured{
    position: relative;
    bottom: 48rem;
    text-align: center;
 }

 .featured-intro{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }

 .featured-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    bottom: 1rem;
 }

 .total-flowers-img{
    justify-content: space-between;
    margin-left: 50px;
 }

 .img-bc-1{
    width: 310px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 100px;
    margin-top: 50px;
 }
 .flowers-img1{
   position: relative;
   margin-top: 50px;
   width: 250px;
   height: 350px;
 }

.pink-flower-tree{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    position: relative;
    bottom: 1rem;
}

.img-bc-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 310px;
    height: 400px;
    margin-left: 450px;
    position: relative;
    bottom: 25rem;
}

.flowers-img2{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}

.pink-flower-tree-2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 50px;
}

.img-bc-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 310px;
    height: 400px;
    margin-left: 800px;
    position: relative;
    bottom: 50rem;
}

.flowers-img3{
    margin-top: 50px;
    width: 250px;
    height: 350px;
}

.pink-flower-tree-3{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    position: relative;
    bottom: 1.5rem;
}

/* Our service styles */

.our-service-total-div{
    border-radius: 8px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1030px;
    height: 200px;
    position: relative;
    bottom: 90rem;
    margin-left: 140px;

}

.service-1-total{
    padding-top: 30px;
}

.service-img-1{
    width: 88px;
    height: 88px;
    margin-left: 80px;

}

.Delivery-details{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-right: 700px;
    position: relative;
    bottom: 1rem;
}

.service-2-total{
    margin-left:200px;
    position: relative;
    bottom: 10.5rem;
}

.service-img-2{
    width: 88px;
    height: 88px;
    margin-left: 200px;
}

.folower-details{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-right: 260px;
    position: relative;
    bottom: 0.5rem;
}

.service-3-total{
margin-left: 650px;
position: relative;
bottom: 22rem;
}

.service-img-3{
    width: 88px;
    height: 88px;
    margin-left: 70px;
    margin-top: 30px;
}

.support-details{
    margin-right: 50px;
    margin-top: 0px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    position: relative;
}

.service-details-total{
    margin-left: 90px;
}